/*
 *  Discord theme by Vix
 *  Focused on minimal color choice and square design
 *  Repository LICENSE applies to this code.
 */

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

.private-channels header,
div[class*="nameDefault-"],
div[class*="nameHovered-"],
div[class*="nameMuted-"],
div[class*="nameCollapsed"],
div[class*="nameHoveredCollapsed"],
div[class*="membersGroup-v9BXpm"],
div[class*="friends-online"],
div[class*="total-results"],
div[class*="header-2N-"]
{ font-weight: bold; font-size: 12px; font-family: "Ubuntu", bold !important; }

div[class*="activityText-sLG0UL"]
{ font-size: 10px; }

.medium-2wqF9d,
div[class*="embedPill-"],
div[class*="dimmer-"]
{ display: none !important; mask: none !important; }

.regionSelectFlag-3uwFtG
{ background-color: unset !important; }

*,
body,
.valueChecked-m-4IJZ.sizeDefault-2YlOZr:after,
.value-2hFrkk:after,
.card-FDVird:before,
.guild.unread:before,
.guild.selected:before,
.scroller-wrap,
.search-bar.search-bar-light .search-bar-inner,

/* Scrollbars*/
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active,

/* Toggle buttons */
.themeDefault-24hCdX.sizeDefault-2YlOZr:after
{ border-radius: unset !important; }

.guild.selected:before
{ height: 50px !important; margin-top: -25px !important; }

/* User icons */
div[class*="mask-"],
div[class*="assetsLargeMaskProfile-"]
{ -webkit-mask: unset !important; }

/* Codeblock font */
code[class*="scrollbarGhost-"],
code[class*="scrollbar-"],
code[class*="inline"]
{ font-family: var(--font-three), monospace !important; font-weight: 600 !important; }

/* Text area placeholder font */
textarea[class*="textArea-"]::-webkit-input-placeholder,
button[type*="button"]
{ font-family: var(--font-one), sans !important; font-size: 14px; }

/* Global fonts */
textarea[class*="textArea-"],
div[class*="roleName-"],
div[class*="appMount-"],
div[class*="connectedAccountName-"],
div[class*="listName-"],
div[class*="headerName-"],
div[class*="headerTag-"],
div[class*="public-DraftStyleDefault-block"],
div[class*="headerTabBarWrapper-"],
div[class*="title-"],
div[class*="textRow-"]
{ font-family: var(--font-one), sans !important; font-weight: 400 !important; }

/* Divs */
.private-channels header,
div[class*="total-results"],
div[class*="header-2N-"],
{ font-family: var(--font-two), sans !important; font-weight: 400 !important; letter-spacing: 0px !important; cursor: default !important; }

div[class*="typing-"],
div[class*="friends-table-header"],
div[class*="headerText-"],
div[class*="activityText-"],
div[class*="body-"],
div[class*="channelSeparator-"],
div[class*="header-"],
div[class*="title-3pkaKd title-23FrqZ"],

/* Other */
h1[class*="title-"],
h1[class*="old-h1"],
h2[class*="title-"],
h5[class*="title-"],
span[class*="timestamp"]
{ font-family: var(--font-one), sans-serif !important; font-weight: 300 !important; }

:root {
  /* Fonts */
  --font-one: "Ubuntu";
  --font-two: "Ubuntu";
  --font-three: "Ubuntu Mono";
}
